body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eee;
    /*background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/playstation-pattern.png');*/
}

.topMenu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}

.ui.menu .header.item { padding: 0.7em 2.5em; color:#00b5ad; }
#root .ui.menu a.item.active { color:#00b5ad; }

.page-content { margin: 60px auto; }
.post-card { margin: auto; }
.ui.grid { margin: 0; }
h1 { text-align: center; margin-bottom: 30px; }

.ui.modal > .content > .description { margin-right: 20px; }
.ui.image img { max-height: 250px; margin: 0 auto; }
.ui.button.modal-btns {
    position: fixed;
    right: 0;
    top: 2px;
    z-index: 3;
}

.ui.card { margin: 1em auto; }
.ui.card:hover { opacity: 0.8; }
.ui.card > .content > .description {
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon.ellipsis.horizontal.more {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

